.header{
    width: 1400px;
    height: 800px;
    border: 1px solid;
    margin: 0 auto;
}
nav{
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid;  
}
.header__nav-logo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid;
}
.header__nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid;
}
.button{
    font-size: 40px;
    border: 1px solid rgb(3, 3, 47);    
}
#login{
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;     */
    /* flex-direction: column; */
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 140px;
    background: blue;
}
input{
    text-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 110px;
}
.btn{
    width: 120px;
    height: 52px;
    /* color: grey; */
    border: 1px solid black;
    border-radius: 20px;
    background: white;
    margin-left: 5px;
}
#home{
    width: 500px;
    height: 300px;
    background: blue;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 200px;
    border-radius: 20px;
}
#home p{
    width: 400px;
    padding-top: 120px;
    padding-left: 50px;    
}